@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-y: auto;
}

main {
  -webkit-overflow-scrolling: touch;
}

@media (max-height: 600px) {
  footer {
    padding: 2px 10px;
  }
  footer h1 {
    font-size: 8px;
  }
}
